$primary: #008080
$secondary: #5f9ea0

$success: #6b8e23
$warning: #ff4500
$failure: #ffd700

$textbackground-light-grey: #f5f5f5
$line-grey: #d3d3d3
$sub-heading-grey: #696969
$textbackground-dark-grey: #2f363b
